<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script type="text/jsx" src="static/reactTest.jsx"></script>
    <script type="text/jsx" src="static/jQuery-1.12.2.min.js"></script>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>
<body>
    <h1>Test React Page</h1>
     <div id="mount-point"></div>
</body>



</html>