<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lets Play Simon!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script type="text/jsx" src="static/simon.jsx"></script>
    <script type="text/jsx" src="static/jQuery-1.12.2.min.js"></script>
    <link rel="stylesheet" href="static/simon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <h1>Simon Says</h1>
     <div id="mount-simon"></div>
</body>



</html>